/* Code to remove all element default styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(.background-stars) {
    z-index: 6;
}

html {
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
}

/* all devices */

a {
    text-decoration: none;
}

button,
button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    text-shadow: 0px 0px 0px transparent;
}

button {
    -webkit-tap-highlight-color: transparent;
    border: 0px solid transparent;
}

button:active,
button:focus
.submit-button,
input:focus, textarea:focus, select:focus {
    outline: none;
}
  
button:active,
.wrapper-for-each-form-section input,
.wrapper-for-each-form-section textarea,
.submit-button {
    border: none;
}

.navBar {
    background-color: #181a27;
    height: 3.8rem;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.navBar a {
    text-decoration: none;
    color: #be50f4;
    margin-left: 10%;
    font-size: 1rem;
}

.hamburger-menu {
    width: 7.5%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 15%;
}

.top-line,
.middle-line,
.bottom-line {
    position: relative;
    background-color: #be50f4;
    width: 100%;
    height: 17.5%;
}

.middle-line {
    opacity: 100%;
}

.top-line,
.bottom-line {
    transform: rotate(0deg);
    top: 0%;
}

.drop-down-menu {
    background-color: #181a27;
    height: 16.25rem;
    width: 100%;
    position: fixed;
    top: -12.45rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 9;
}

.drop-down-menu ul {
    position: absolute;
    top: 16.25rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.drop-down-menu ul li {
    height: 10%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.drop-down-menu ul li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.drop-down-menu ul li .icon {
    margin-right: 0.5rem;
    height: 60%;
}

.drop-down-menu ul li p {
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
}

.drop-down-menu ul .source-code-button {
    justify-content: center;
    cursor: pointer;
}

.drop-down-menu ul .source-code-button a {
    height: 100%;
    width: 70%;
    background-color: #623686;
    border: 0.05rem solid #8a57b3;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.drop-down-menu ul .source-code-button button {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.drop-down-menu ul .source-code-button button img {
    height: 50%;
}

.introduction {
    position: relative;
    height: 40rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(17, 16, 16, 0.61),rgb(26, 22, 48));
    overflow: hidden;
}

.gradient-overlay {
    position: absolute;
    height: 85%;
    width: 1035%;
    transform: rotate(60deg);
    background-image: linear-gradient(rgba(255, 255, 255, 0.075),rgba(150, 150, 150, 0));
    z-index: 5;
}

.introduction-contents {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introduction-contents .landscape-content-container {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.introduction-contents .landscape-content-container span:not(.different-color) {
    display: flex;
    height: 20%;
    width: 72.5%;
    align-items: center;
}

.introduction-contents .landscape-content-container span p:first-child {
    display: flex;
    align-items: center;
}

.introduction-contents .landscape-content-container span p {
    font-size: 2rem;
    font-weight: 500;
    color: white;
}

.introduction-contents .landscape-content-container h2 {
    display: flex;
    width: 72.5%;
    font-size: 1.9rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.introduction-contents .landscape-content-container .tagline-container {
    width: 72.5%;
    height: 7.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.introduction-contents .landscape-content-container .tagline-container .tagline {
    color: #be50f4;
    font-size: 1.1rem;
    font-weight: 600;
}

.introduction-contents img {
    height: 35%;
}

.about-me {
    position: relative;
    top: 3.8rem;
    height: 90rem;
    width: 100%;
    background: linear-gradient(to bottom left,hsla(0,3%,6%,.582),rgba(12,8,24,.904));
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 8;
}

.about-me .about-me-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 80%;
    color: white;
}

.about-me .about-me-text h1 {
    font-size: 2.15rem;
}

.about-me .about-me-text .about-me-text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.about-me .about-me-text span p {
    font-size: 1rem;
    text-align: center;
}

.about-me img {
    height: 10%;
}

.about-me h2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    position: relative;
    top: 2.5%;
}

.about-me h2 p:first-child {
    color: white;
    font-weight: 500;
}

.about-me .technology-icons {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-me .technology-icons .icon-row {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me .technology-icons .icon-row .icon {
    border: 1px solid rgba(200,137,230,.637);
    width: 30%;
    height: 90%;
    margin: 2.5%;
    border-radius: 0.3rem;
    box-shadow: 4px 5px 4px 3px rgba(89,4,168,.137);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me .technology-icons .icon-row .icon .logo {
    height: 75%;
}

.about-me .technology-icons .icon-row:nth-child(2) .icon:nth-child(1) .logo {
    height: 45%;
}

.about-me .technology-icons .icon-row:nth-child(3) .icon:nth-child(1) .logo {
    height: 55%;
}

.about-me h3 {
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    position: relative;
    top: 2.5%;
}

.about-me .contribution-graph {
    height : 3%;
}

.about-me .less-or-more-container {
    width: 100%;
    height: 1.5rem;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 8%;
}

.about-me .less-or-more-container .nodes-container {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0.3rem;
}

.about-me .less-or-more-container .nodes-container p {
    font-size: 1rem;
}

.about-me .less-or-more-container .nodes-container .node {
    height: 50%;
    width: 15%;
    background-color: white;
    border-radius: 0.1rem;
    position: relative;
    top: 0.05rem;
}

.about-me .less-or-more-container .nodes-container .node:nth-child(2) {
    background-color: #d0f1d8;
}

.about-me .less-or-more-container .nodes-container .node:nth-child(3) {
    background-color: #a0e2b1;
}

.about-me .less-or-more-container .nodes-container .node:nth-child(4) {
    background-color: #98d0a7;
}

.about-me .less-or-more-container .nodes-container .node:nth-child(5) {
    background-color: #90b79c;
}

.about-me .icons-container {
    height: fit-content;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects {
    position: relative;
    height: 75rem;
    width: 100%;
    background: linear-gradient(to bottom left,hsla(0,3%,6%,.582),rgba(12,8,24,.904));
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 8;
}

.projects .projects-introduction {
    position: relative;
    top: 2.5%;
    width: 80%;
    height: fit-content;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.projects .projects-introduction h1 {
    font-weight: 500;
    font-size: 2rem;
}

.projects .projects-introduction p {
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.projects .project-card {
    width: 80%;
    height: 37.5%;
    background-color: transparent;
    box-shadow: 0 4px 5px 3px rgba(119,53,136,.459);
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.projects .project-card img {
    height: 25%;
}

.projects .project-card span {
    height: 55%;
    width: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects .project-card span header {
    height: 12.5%;
}

.projects .project-card span p {
    font-size: 0.75rem;
    letter-spacing: 0.1vh;
    line-height: 1rem;
}

.projects .project-card .button-container {
    width: 100%;
    height: 7.5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.projects .project-card .button-container a {
    height: 100%;
    width: 35%;
    background-color: #623686;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 0.75rem;
    letter-spacing: 0.2vh;
}

.projects .project-card .button-container a img {
    height: 40%;
}

.cv-section {
    position: relative;
    top: 3.8rem;
    height: 30rem;
    width: 100%;
    background: linear-gradient(to bottom left,hsla(0,3%,6%,.582),rgba(12,8,24,.904));
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 8;
}

.cv-section .download-button {
    background-color: #623686;
    height: 6%;
    width: 60%;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.cv-section .download-button img {
    height: 50%;
    margin-right: 2%;
}

.cv-section .download-button p {
    margin-left: 2%;
}

.cv-section img {
    height: 75%;
}

.information-about-me {
    height: 65rem;
    width: 100%;
    background-image: linear-gradient(rgba(26, 22, 48, 0.767),rgb(26, 22, 48));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.information-about-me .information-about-me-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 90%;
}

.information-about-me .information-about-me-contents .text-and-image-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: space-between;
}

.information-about-me .information-about-me-contents .text-and-image-container .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    height: 75%;
    width: 100%;
}

.information-about-me .information-about-me-contents .text-and-image-container .text-container h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
}

.different-color {
    color: #be50f4;
}

.information-about-me .information-about-me-contents .text-and-image-container img {
    height: 20%;
}

.information-about-me .information-about-me-contents .icons-container {
    height: fit-content;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons-container .icon-circle {
    background-color: white;
    height: 67px;
    width: 67px;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icons-container .icon-circle a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-container .icon-circle a img {
    height: 50%;    
}

@media only screen 
    and (orientation: portrait) {

        .landscape-navBar {
            display: none;
        }
    }

@media only screen
    and (orientation: landscape) {
    
    .gradient-overlay {
        height: 200%;
    }

    .information-about-me .information-about-me-contents p:nth-child(4) {
        width: 100%;
    }

    .about-me {
        top: 0rem;
        padding-top: 5rem;
    }

    .about-me .technology-icons .icon-row .icon {
        width: 20%;
    }

    .about-me .contribution-graph {
        height: 5%;
    }

    .about-me .less-or-more-container .nodes-container .node {
        height: 80%;
    }

    .about-me .icons-container {
        position: relative;
        top: 2%;
    }

    .navBar,
    .drop-down-menu {
        display: none;
    }

    .landscape-navBar {
        position: fixed;
        height: 4.8rem;
        width: 100%;
        background-color: transparent;
        z-index: 10;
        -webkit-box-shadow: 0 0px 0px 0 rgba(9,5,29,.171);
        box-shadow: 0 0px 0px 0 rgba(9,5,29,.171)
    }

    .blur {
        height: 100%;
        width: 99.9%;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-contents {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .menu-contents li {
        height: 100%;
        width: 10%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-contents li:first-child .different-color {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-contents li .icon-container {
        height: 55%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 0.9rem;
    }

    .menu-contents li:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .menu-contents li:last-child .icon-container {
        background-color: #623686;
        height: 65%;
        width: 75%;
        border-radius: 0.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .icon {
        height: 40%;
    }

    .icon-container p {
        color: white;
        font-weight: 500;
    }

    .icon-container .bar {
        background-color: #be50f4;
        width: 0%;
        height: 12.5%;
        border-radius: 20rem;
    }

    .source-button-icon {
        height: 25%
    }

    .introduction {
        height: 22.5rem;
    }

    .introduction-contents {
        flex-direction: row;
    }

    .introduction-contents .landscape-content-container {
        justify-content: space-between;
        width: 45%;
        align-items: flex-start;
    }

    .introduction-contents .landscape-content-container span:not(.different-color) {
        width: 100%;
    }

    .introduction-contents .landscape-content-container span,
    .introduction-contents .landscape-content-container h2,
    .introduction-contents .landscape-content-container .tagline-container {
        width: 100%;
    }

    .introduction-contents .landscape-content-container .tagline-container {
        height: 15%;
    }

    .introduction-contents img {
        height: 55%;
    }

    .information-about-me .information-about-me-contents .icons-container {
        width: 30%;
    }

    .information-about-me {
        height: 45rem;
    }

    .information-about-me .information-about-me-contents .text-and-image-container {
        flex-direction: row;
        height: 70%;
        align-items: flex-start;
    }

    .information-about-me .information-about-me-contents .text-and-image-container .text-container {
        width: 65%;
        height: 100%;
    }

    .information-about-me .information-about-me-contents .text-and-image-container img {
        height: auto;
        width: 30%;
    }

    .projects .project-card img {
        height: 40%;
    }

    .projects .project-card span {
        height: 30%;
    }

    .projects .project-card span header {
        line-height: 1vh;
    }

    .cv-section {
        height: 50rem;
        top: 0rem;
        padding-top: 5rem;
    }
}

/* iPhone 12 Pro and Pixel 5 */

@media only screen 
    and (min-device-width: 390px) 
    and (min-device-height: 844px)
    and (orientation: portrait) { 
    
    .introduction .introduction-contents h2 p:nth-child(2) {
        position: relative;
        right: 5%;
    }

    .landscape-navBar {
        display: none;
    }
}

@media only screen 
    and (min-device-width: 844px) 
    and (min-device-height: 390px)
    and (orientation: landscape) {

        .hamburger-menu {
            width: 4%;
        }

        .drop-down-menu {
            height: 15.85rem;
        }

        .gradient-overlay {
            bottom: 11%
        }

        .introduction .introduction-contents {
            justify-content: center;
        }

        .introduction .introduction-contents h2 {
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        .introduction .introduction-contents h2 p:not(:last-child) {
            margin-right: 2.5%;
        }

        .about-me .contribution-graph {
            height: 6.5%;
        }

        .about-me .less-or-more-container .nodes-container .node {
            height: 100%;
            top: 0%;
        }

        .about-me .technology-icons .icon-row .icon {
            width: 17.5%;
        }
    }

/* Samsung Galaxy S20 Ultra */

@media only screen 
    and (device-width : 412px) 
    and (device-height : 915px)
    and (orientation: portrait) {
    
    .introduction .introduction-contents h2 p:nth-child(2) {
        position: relative;
        right: 10%;
    }
}

/* iPhone XR */

@media only screen 
    and (min-device-width : 414px) 
    and (min-device-height : 896px)
    and (orientation: portrait) { 

    .introduction .introduction-contents h2 p:nth-child(2) {
        position: relative;
        right: 10%;
    }

    .about-me .contribution-graph {
        height: 3.5%;
    }
}

/* iPad Mini + iPad Air */

@media only screen
    and (min-device-width: 768px)
    and (min-device-height : 1024px)
    and (orientation: portrait) {

    .navBar,
    .drop-down-menu {
        display: none;
    }

    .landscape-navBar {
        display: block;
        position: fixed;
        height: 4.8rem;
        width: 100%;
        background-color: transparent;
        z-index: 10;
        -webkit-box-shadow: 0 0px 0px 0 rgba(9,5,29,.171);
        box-shadow: 0 0px 0px 0 rgba(9,5,29,.171)
    }

    .blur {
        height: 100%;
        width: 99.9%;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-contents {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .menu-contents li {
        height: 100%;
        width: 10%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-contents li:first-child .different-color {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 2rem;
    }

    .menu-contents li .icon-container {
        height: 55%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 0.9rem;
    }

    .menu-contents li:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .menu-contents li:last-child .icon-container {
        background-color: #623686;
        height: 65%;
        width: 75%;
        border-radius: 0.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .icon {
        height: 40%;
    }

    .icon-container p {
        color: white;
        font-weight: 500;
    }

    .icon-container .bar {
        background-color: #be50f4;
        width: 0%;
        height: 12.5%;
        border-radius: 20rem;
    }

    .source-button-icon {
        height: 25%
    }

    .gradient-overlay {
        height: 175%;
    }

    .introduction {
        height: 30rem;
    }

    .introduction-contents {
        flex-direction: row;
        width: 90%;
    }

    .introduction-contents .landscape-content-container {
        justify-content: space-between;
        width: 40%;
        align-items: flex-start;
    }

    .introduction-contents .landscape-content-container span:not(.different-color) {
        width: 100%;
    }

    .introduction-contents .landscape-content-container h2,
    .introduction-contents .landscape-content-container .tagline-container {
        width: 100%;
    }

    .introduction-contents .landscape-content-container .tagline-container {
        height: 25%;
    }

    .introduction-contents .landscape-content-container .tagline-container .tagline {
        font-size: 1.5rem;
    }

    .introduction-contents img {
        height: 50%;
    }

    .information-about-me .information-about-me-contents .icons-container {
        width: 30%;
    }

    .information-about-me {
        height: 50rem;
    }

    .information-about-me .information-about-me-contents .text-and-image-container {
        flex-direction: row;
        height: 70%;
        align-items: flex-start;
    }

    .information-about-me .information-about-me-contents .text-and-image-container .text-container {
        width: 60%;
        height: 100%;
    }

    .information-about-me .information-about-me-contents .text-and-image-container .text-container h3 {
        width: 100%;
    }

    .information-about-me .information-about-me-contents p {
       font-size: 1.2rem; 
       font-weight: normal;
    }

    .information-about-me .information-about-me-contents .text-and-image-container img {
        height: auto;
        width: 35%;
        position: relative;
        top: 10%;
    }

    .about-me {
        height: 140rem;
        top: 0;
    }

    .about-me .about-me-text {
        position: relative;
        top: 3rem;
    }

    .about-me .about-me-text h1 {
        font-size: 4rem;
    }

    .about-me .about-me-text .about-me-text-block p {
        font-size: 1.5rem;
    }

    .about-me img {
        height: 12.5%;
    }

    .about-me h2,
    .about-me h3 {
        font-size: 4rem;
    }

    .about-me .contribution-graph {
        height: 4%;
    }

    .about-me .less-or-more-container {
        height: 2%;
        bottom: 7%;
    }

    .about-me .icons-container {
        position: relative;
        top: 1%;
    }

    .about-me .icons-container .icon-circle {
        height: 100px;
        width: 100px;
    }

    .cv-section {
        height: 55rem;
    }

    .cv-section .download-button p {
        font-size: 1.5rem;
    }
}

@media only screen
    and (min-device-width: 1024px)
    and (min-device-height : 768px)
    and (orientation: landscape) {

    .about-me {
        height: 110rem;
    }

    .about-me .about-me-text h1 {
        font-size: 3rem;
    }

    .about-me .about-me-text .about-me-text-block p {
        font-size: 1.25rem;
    }

    .about-me img {
        height: 15%;
    }

    .about-me h2,
    .about-me h3 {
        font-size: 3rem;
    }

    .about-me .contribution-graph {
        height: 7%;
    }

    .about-me .less-or-more-container {
        bottom: 5%;
        height: 1.8rem;
    }
}

@media only screen
    and (min-device-width: 1180px)
    and (min-device-height : 820px)
    and (orientation: landscape) {

    .about-me .less-or-more-container {
        height: 2rem;
    }
}

@media screen 
    and (min-device-width: 1200px) {

    .landscape-navBar {
        height: 12.5vh;
    }

    .landscape-navBar .blur .menu-contents li h1 {
        font-size: 6vh;
    }

    .landscape-navBar .blur .menu-contents li .icon-container {
        height: 100%;
        justify-content: center;
        width: 65%;
        font-size: 2.5vh;
    }

    .landscape-navBar .blur .menu-contents li .icon-container .icon {
        height: 35%;
    }

    .landscape-navBar .blur .menu-contents li .icon-container .bar {
        height: 7.5%;
    }

    .landscape-navBar .blur .menu-contents li:last-child .icon-container {
        height: 50%;
        width: 50%;
        flex-direction: row;
        justify-content: space-evenly;
        border-radius: 0.5vh;
    }

    .landscape-navBar .blur .menu-contents li:last-child .icon-container .source-button-icon {
        height: 40%;
    }

    .introduction {
        height: 100vh;
    }

    .introduction .introduction-contents .landscape-content-container span p,
    .introduction .introduction-contents .landscape-content-container h2,
    .introduction .introduction-contents .landscape-content-container .tagline-container .tagline {
        font-size: 7vh;
    }

    .introduction .introduction-contents .landscape-content-container span,
    .introduction .introduction-contents .landscape-content-container h2,
    .introduction .introduction-contents .landscape-content-container .tagline-container {
        height: 30%;
    }

    .introduction-contents .landscape-content-container span p:last-child {
        left: 2.5%;
    }

    .information-about-me {
        height: 100vh;
        font-size: 3.5vh;
        background-image: linear-gradient(rgba(17, 16, 16, 0.61),rgb(26, 22, 48));
    }

    .information-about-me .information-about-me-contents .text-and-image-container {
        height: 60%;
        width: 90%;
        align-items: center;
    }

    .information-about-me .information-about-me-contents .text-and-image-container .text-container {
        width: 60%;
        font-size: 3vh;
    }

    .information-about-me .information-about-me-contents .text-and-image-container .text-container h3 {
        font-size: 6vh;
        flex-direction: row;
        justify-content: space-between;
        width: 85%;
        font-weight: 500;
    }

    .information-about-me .information-about-me-contents .text-and-image-container img {
        width: 30%;
    }

    .information-about-me .information-about-me-contents .connect-with-me {
        font-size: 7.5vh;
    }

    .information-about-me .information-about-me-contents .icons-container .icon-circle {
        height: 10vh;
        width: 10vh;
    }

    .about-me {
        height: 325vh;
        padding-top: 7.5vh;
    }

    .about-me .about-me-text h1,
    .about-me h2,
    .about-me h3 {
        font-size: 10vh;
    }

    .about-me h3 {
        position: relative;
        top: -0.5%;
    }

    .about-me .about-me-text {
        height: 15%;
        justify-content: space-between;
    }

    .about-me-text br {
        display: none;
    }

    .about-me .about-me-text .about-me-text-block {
        height: 60%;
        justify-content: space-between;
    }

    .about-me .about-me-text .about-me-text-block p {
        font-size: 3.5vh;
    }

    .about-me .technology-icons .icon-row .icon {
        border: 0.5vh solid rgba(200,137,230,.637);
        border-radius: 1.5vh;
        box-shadow: 0.5vh 0.5vh 1vh 0.75vh rgb(89 4 168 / 14%);
    }

    .about-me .contribution-graph {
        height: 9%;
        position: relative;
        bottom: 1%;
    }

    .about-me .less-or-more-container {
        height: 2.25%;
        bottom: 6%;
        font-size: 3.5vh;
    }

    .about-me .less-or-more-container .nodes-container {
        margin: 0 3vh;
    }

    .about-me .less-or-more-container .nodes-container .node {
        border-radius: 1vh;
    }

    .about-me .icons-container {
        position: relative;
        top: 1%;
    }

    .about-me .icons-container .icon-circle {
        height: 12.5vh;
        width: 12.5vh;
    }

    .cv-section {
        height: 150vh;
        font-size: 4vh;
        padding-top: 10vh;
    }
    
    .cv-section .download-button {
        width: 50%;
        cursor: pointer;
        border-radius: 1vh;
    }

    .cv-section img {
        height: 75%;
    }
}